@use '../utilities' as *;

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;

  @include breakpoint-up(medium) {
    display: flex;
    flex-direction: row;
  }

  &__items {
    padding: rem(40) rem(42);
    flex: 1 1 0%;

    @include breakpoint-up(medium) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: rem(47) rem(45);
    }

    &--icon {
      margin-bottom: rem(38);
    }

    & h2 {
      font-size: rem(38);
      margin-bottom: rem(38);
    }

    & p {
      line-height: 1.7;
      margin-bottom: rem(23);

      @include breakpoint-up(medium) {
        margin-bottom: auto;
      }
    }

    & a:hover {
      color: var(--bg-main);
    }

    & .btn {
      display: inline-block;
      background-color: var(--bg-main);
      border-radius: 500px;
      padding: rem(15) rem(30);
      border: 2px solid var(--bg-main);

      transition: all 200ms;
    }

    &--sedans {
      background: var(--bg-orange);

      & a {
        color: var(--bg-orange);

        &:hover {
          background-color: var(--bg-orange);
        }
      }
    }

    &--suvs {
      background: var(--bg-dark-cyan);

      & a {
        color: var(--bg-dark-cyan);

        &:hover {
          background-color: var(--bg-dark-cyan);
        }
      }
    }

    &--luxury {
      background: var(--bg-dark-cyan2);

      & a {
        color: var(--bg-dark-cyan2);

        &:hover {
          background-color: var(--bg-dark-cyan2);
        }
      }
    }
  }
}
